h1{
    margin: 1rem auto;
    color: black;
    -webkit-text-stroke: 1px white;
    width: max(70%,300px);
    font-size: 2rem;
}
.p-text{
    font-size: large;
    width:60%;
    margin: 0 auto;
    font-weight: 500;
}