.footer
{
    width: 80%;
    margin: 0 auto;
}
.upArrow
{
    display: block;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 9998;
    background-color: transparent;
    background-image: url(/src/img/arrow_up.svg);
    background-repeat: no-repeat;
    border: 0px;

}