.main-nav-bar
{
    padding-top: 20px;
    width:80%;
    margin:auto;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);

}
.nav-bar{
    float: left;
    width:calc(99%/4);
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(134, 157, 148);
    border: 1px solid brown;
}
.nav-bar__inside{
    display: none;
    width:calc(99%/1.4);
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: red;
    border: 1px solid brown;
    float: right;

    margin-top: 6px;
    transform: translateY(-100%); 
    
}
.nav-bar__roll-down
{
    float: left;
    width:calc(99%/4);
    padding-top: 5px;
    padding-bottom: 5px;
    max-height: 20px;
    background-color: rgb(134, 157, 148);
    border: 1px solid brown;
}
.nav-bar__roll-down:hover .nav-bar__inside
{
    transform: translateY(0); 
}
.nav-container{
    width: 110px;
    display: flex;
    flex-direction: column;
}

#navbar{
    background-color: rgb(48, 162, 255);
    border: solid 2px none;
    border-radius: 8px;
    position: relative;
    margin: auto;
    display: none;
 }

.link-container {
    margin: 10px;
    font-size: 18px;
    width: 100%;
    color: white;
}

.nav-link{
    display:inline-block;
}
