.main-nav-bar
{
    
    width:80%;
    margin-top: 20px;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
}
.nav-bar{
    float: left;
    width:calc(99%/4);
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: yellow;
    border: 1px solid red;
    
}
