.flex {
    display: flex;
    gap: var(--gap, 3rem);
}

.primary-header {
    align-items: center;
    justify-content: space-between;

}

.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    background: hsl(0 0% 0% /0.75);


}

.primary-navigation a {
    text-decoration: none;
    color: white;
}

.primary-navigation a>[aria-hidden="true"] {
    font-weight: 700;
    margin-inline-end: .5rem;
}

@supports(backdrop-filter: blur(1rem)) {
    .primary-navigation {
        background: hsl(0 0% 100% /0.1);
        backdrop-filter: blur(1rem);
    }
}

@media (max-width:35em) {
    .primary-navigation {
        position: fixed;
        inset: 0 0 0 30%;
        --gap:2rem;


        flex-direction: column;
        padding: min(30vh, 10rem) 2rem;
    }
    .mobile-nav-toggle
    {
        position:absolute;
        background-color: red;
        width: 1rem;
    }
}
.sr_only
{
    display: none;
}