body {
  margin: 0;
  background-image: url('/src/img/tlo.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-transform: scale(0.7);
  overflow-x: hidden;
  color: #fff;

  min-width: 325px;
}