.blok
{
    width: 50%;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.email-input
{
    display: inline-block;
}
.mail-text
{
   display: block;
}
@supports(backdrop-filter: blur(1rem)) {
    .blok{
        backdrop-filter: blur(4rem);
    }
}