.blok
{
    width: 22rem;
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
textarea{

    border-radius: 5%;
}
.email-input
{
    display: inline-block;
    width:10rem;
    margin-top: 1rem;
}
.mail-text
{
    margin: 1rem auto;
   display: inline-block;
   width: 20rem;
}
.button-send
{
    display:inline-block;
    margin-bottom: 1rem;
}
@supports(backdrop-filter: blur(1rem)) {
    .blok{
        backdrop-filter: blur(1rem);
        border-radius: 5%;
    }
}