.references
{
    text-align: center;
}
.references a {
    color: white;
    display: inline-block;
    padding: 0rem 1rem;
    margin:0 1rem;
}
h2{
    margin: 1rem auto;
    width: max(80%,300px);
}
p
{

    margin: 1rem auto;
    width: max(80%,300px);
   
}